﻿.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid rgb(21, 140, 186); /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
    display: block;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
