﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-left">
                <div class="input-group">
                    <input #username type="text" class="form-control" placeholder="Handle">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="getUserTweets(username.value)">Get Tweets</button>
                    </span>
                </div>

                <div class="input-group">
                    <input #search type="text" class="form-control" placeholder="Search">

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" (click)="searchTwitter(search.value)">Search</button>
                    </span>
                </div>

                <div class="input-group" *ngIf="tweets?.length > 0">
                    <input #input type="text" class="form-control" placeholder="Save Name">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" (click)="saveTweets(input)">Save</button>
                    </span>
                </div>
            </div>
            <div class="navbar-form navbar-right">

                <div class="input-group full" *ngIf="tweetList?.length > 0">
                    <div class="btn-group full" role="group" aria-label="...">
                        <button type="button" class="btn btn-default dropdown-toggle round full" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Load Saved Search<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let saveTweet of tweetList"><a (click)="getSavedSearch(saveTweet.id)">{{saveTweet?.description}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="input-group full" *ngIf="tweetList?.length > 0">
                    <span class="input-group-btn full">
                        <button type="submit" class="btn btn-default round full"  (click)="clearSaved()">Clear Saved</button>
                    </span>
                </div>

                <div class="input-group full">
                    <span class="input-group-btn full">
                        <button type="submit" class="btn btn-default round full" (click)="logout()">Logout</button>
                    </span>
                </div>
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<flash-messages></flash-messages>
<div *ngIf="loading == false" id="wrapper" style="text-align: center">
    <div *ngIf="tweets.length == 0">
        <h3>Welcome to My Twitter Client. </h3>
        <p>Please enter a twitter handle or search term.</p>
    </div>
        <tweet *ngFor="let tweet of tweets" [tweet]="tweet"></tweet>
</div>
<loader *ngIf="loading == true"></loader>