﻿
<blockquote class="twitter-tweet">
    <img src="{{ tweet?.profile_image_url }}" />
    <h4>{{ tweet?.name }}</h4>

    <a>@{{tweet?.screen_name}}</a>

    <p>{{ tweet?.text }}</p>

    - {{ tweet?.created_at }}


</blockquote>
