<div class="text-center" style="padding:50px 0">
    <div class="logo">Login</div>
    <div class="login-form-1" *ngIf="loading == false">
        <div id="login-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <input #username type="text" class="form-control" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input #password type="password" class="form-control" placeholder="password">
                    </div>
                </div>
                <button type="submit" class="login-button" (click)="logon(username.value,password.value)"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    <flash-messages></flash-messages>
    <loader *ngIf="loading == true"></loader>
</div>
